.footer {
    background: #AB8261;
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr) auto;
}

.footer__col:first-child {
    margin-top: -30px;
}



.footer__logo {
    display: block;
    max-width: 240px;

}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}



.socials__list {
    display: flex;
    gap: 15px;
}



.socials__link path {
    transition: all .4s;
}

.socials__link:hover path {
    fill: #FFA55C;
}





.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0px;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    bottom: 8px;
    left: -13px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .4s;

}


.footer__col-link:hover:before {
    visibility: visible;
    opacity: 1;
}



.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0px;
}



.footer__col-number {
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    transition: all .4s;
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
    margin-top: 47px;
}