:root {
    --general-text: #321C27;
    --general-bg: #FFF9F4;
    --accent-color: #FFA55C;
    --accent-bg: #FFE0CB;
    --accent-text: #1F1711;
}

body {

    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__gallery {
    padding-bottom: 140px;
}

.main__testimonials {
    padding-bottom: 140px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: 'Gabriola', sans-serif;
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.button {
    display: flex;

    padding: 3px 15px;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    border-radius: 60px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    height: 62px;
    transition: .4s;
}

.button:hover {
    background: #FF9138;
    
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.514);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    padding: 15px;

}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px;
    padding-bottom: 60px;
    position: relative;
    max-width: 428px;
    width: 100%;

}

.modal__cancel {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__cancel path {
    transition: .4s;
}

.modal__cancel:hover path {
    stroke: #AC907A;
}

.modal__cancel rect {
    transition: .4s;
}

.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin-left: 13px;
    margin-bottom: 15px;
    margin-top: -65px;
    max-width: 100%;
}

.modal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    color: var(--accent-text);
    line-height: .9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}



.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;

}

.field span {

    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.field__input {
    display: block;
    border-radius: 100px;
    padding: 19px 28px;
    border: 1px solid #AC907A;
    background: rgba(255, 0, 0, 0);
    width: 100%;
    font-size: 16px;

    transition: .4s;
}

.field__input::placeholder {
    color: #AC907A;
    transition: .4s;
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
    transition: .4s;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}



.modal-button {
    width: 100%;
}