.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;

}

.header__top {
    margin-top: 19px;
}

.header__top-iner {


    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.header__logo {
    display: block;
    max-width: 174px;
    z-index: 11;

}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
    z-index: 2;

}



.nav__link {
    display: block;
    padding: 5px 0px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    bottom: 8px;
    left: -13px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .4s;

}


.nav__link:hover:before {
    visibility: visible;
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: relative;
    z-index: 11;
    transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg)
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}


/* ======================================================= */

.hero {
    padding-top: 48px;
    padding-bottom: 140px;
}

.hero__inner {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 519px;
}

.hero__info {

    color: #B197B2;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hero__info span {
    display: flex;
    align-items: center;

}

.hero__info span::after {
    content: ' ';
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;

}

.hero__info span:last-child:after {
    content: none;
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
}

.hero__title {


    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 30px;
    max-width: 358px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}


.hero__img {
    position: relative;
    margin-right: 247px;
}



.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    width: 78px;
    height: 78px;
    background: #FFE0CB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::after {
    content: ' ';

    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 1px solid #FFA55C;
    opacity: 0;
    transition: .4s;
}

.hero__img-button:hover:after {
    opacity: 1;
}