:root {
    --general-text: #321C27;
    --general-bg: #FFF9F4;
    --accent-color: #FFA55C;
    --accent-bg: #FFE0CB;
    --accent-text: #1F1711;
}

body {

    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: 'Gabriola', sans-serif;
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.button {
    display: flex;

    padding: 3px 15px;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    border-radius: 60px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    height: 62px;
    transition: .4s;
}

.button:hover {
    background: #FF9138;
    ;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.514);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    padding: 15px;

}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px;
    padding-bottom: 60px;
    position: relative;
    max-width: 428px;
    width: 100%;

}

.modal__cancel {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__cancel path {
    transition: .4s;
}

.modal__cancel:hover path {
    stroke: #AC907A;
}

.modal__cancel rect {
    transition: .4s;
}

.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin-left: 13px;
    margin-bottom: 15px;
    margin-top: -65px;
    max-width: 100%;
}

.modal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    color: var(--accent-text);
    line-height: .9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;

}

.field span {

    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.field__input {
    display: block;
    border-radius: 100px;
    padding: 19px 28px;
    border: 1px solid #AC907A;
    background: rgba(255, 0, 0, 0);
    width: 100%;
    font-size: 16px;

    transition: .4s;
}

.field__input::placeholder {
    color: #AC907A;
    transition: .4s;
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
    transition: .4s;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}



.modal-button {
    width: 100%;
}

/* ========================================== */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;

}

.header__top {
    margin-top: 19px;
}

.header__top-iner {


    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.header__logo {
    display: block;
    max-width: 174px;
    z-index: 11;

}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    gap: 4vh 40px;
    z-index: 2;

}



.nav__link {
    display: block;
    padding: 5px 0px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    bottom: 8px;
    left: -13px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .4s;

}


.nav__link:hover:before {
    visibility: visible;
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;

}

.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: relative;
    z-index: 11;
    transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg)
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}


/* ======================================================= */

.hero {
    padding-top: 48px;
    padding-bottom: 140px;
}

.hero__inner {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 519px;
}

.hero__info {

    color: #B197B2;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hero__info span {
    display: flex;
    align-items: center;

}

.hero__info span::after {
    content: ' ';
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;

}

.hero__info span:last-child:after {
    content: none;
    background: #B197B2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
}

.hero__title {


    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 30px;
    max-width: 358px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}


.hero__img {
    position: relative;
    margin-right: 247px;
}



.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    width: 78px;
    height: 78px;
    background: #FFE0CB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::after {
    content: ' ';

    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 1px solid #FFA55C;
    opacity: 0;
    transition: .4s;
}

.hero__img-button:hover:after {
    opacity: 1;
}

/* ==================about==================================== */

.about {}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: auto auto;
    gap: 40px 53px;
}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    grid-row: 1 / -1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    border-radius: 20px;
    background: rgba(149, 123, 151, 0.90);
    position: absolute;
    bottom: 4%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    color: var(--general-bg);
}

.about__img-button {
    width: 78px;
    height: 78px;
    background: var(--general-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
}

.about__img-button::before {
    content: ' ';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;

    border-radius: 50%;
    border: 1px solid #CEAAD0;
    opacity: 0;
    transition: .4s;
}

.about__img-button:hover:before {
    opacity: 1;
}

.about__body {}

.about__heading {
    margin-bottom: 30px;
}

.about__title {}

.about__title-text {}

.about__text {}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.grid__item {

    border-radius: 20px;
    background: var(--accent-bg);
    padding: 29px 24px;
    display: flex;
    gap: 15px;
    align-items: center;
}




.grid__img {
    padding: 18px;
    border: 1px solid var(--accent-text);
    border-radius: 50%;
    flex-shrink: 0;
}



.grid__text {}


/* ============programm===================== */

.main__programm {
    margin-bottom: 140px;
}

.programm {}

.programm__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
    gap: 15px;
    align-items: center;
    
}



.programm__title {
    margin-bottom: 20px;
    
}

.programm__text {}


.programm__bottom {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.programm__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px 40px;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.programm__discount {
    grid-row: 1 / 3;
    font-size: 20px;
    padding: 40px;

    border-radius: 20px;
    background: var(--accent-bg);
}

.programm__discount-value {}

.programm__discount-value {

    font-family: 'Gabriola';
    font-size: 74px;
    color: var(--accent-color);
    line-height: 0.82;
    margin-left: 15%;
    margin-bottom: 7px;
    transform-origin: 0 0;
    animation: discount-grow .8s linear infinite alternate;
    
}

@keyframes discount-grow {
    0% {
        
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        
        color: #FF9138;
    }
}

.programm__discount span {
    display: block;
    margin-left: 40%;
    font-size: 16px;
}

.programm__price {}

.programm__price-text {
    text-transform: uppercase;
    color: #CEAAD0;
    line-height: 1.6;
}

.programm__price-value {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
}



.programm__price-value-big {
    font-size: 50px;
}

.button {}

.programm__button {
    grid-column: 1 / -1;
}

.programm__img img {

    width: 100%;
}


.tab-controls {
    display: flex;
    gap: 26px;
}

.tab-controls__item {
    display: flex;

    justify-content: center;
    align-items: center;
}

.tab-controls__link {
    display: block;
    background: #FFF9F4;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0.3);
    transition: all .4s;
    white-space: nowrap;
}

.tab-controls__link:hover {
    background: var(--accent-bg);


}

.tab-controls__link--active {
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);

}

.tab-content {

    display: none;
}

.tab-content--show {
    display: block;
}

.accordion__list {}

.accordion__list-item {
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1px solid var(--accent-color);
}

.accordion__list-item:last-child {
    margin-bottom: 0;
}



.accordion__list-control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    font-size: inherit;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    /* align-items: center; */
    text-align: left;
    transition: .4s;

}

.accordion__list-item--opened .accordion__list-control {
    padding-bottom: 20px;
}

.accordion__list-control-title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    color: var(--accent-text);


}

.accordion__list-control-icon path {
    transition: all .4s;

}

.accordion__list-control:hover .accordion__list-control-icon path {
    fill: var(--general-bg);

}

.accordion__list-control:hover .accordion__list-control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);

}

.accordion__list-item--opened .accordion__list-control path {
    fill: var(--general-bg);
}

.accordion__list-item--opened .accordion__list-control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion__list-control-icon {
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all .4s;
}



.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;

}






.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;


}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-conten__title {
    color: #CEAAD0;
    line-height: 1.6;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.accordion-conten__list {}

.accordion-conten__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-conten__item:last-child {
    margin-bottom: 0px;
}

.accordion-conten__icon {
    border: 1px solid #CEAAD0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordian-content__text {
    max-width: 274px;
}









/* =================footer================================================ */

.footer {
    background: #AB8261;
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr) auto;
}

.footer__col:first-child {
    margin-top: -30px;
}



.footer__logo {
    display: block;
    max-width: 240px;

}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials {}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__item {}

.socials__link path {
    transition: all .4s;
}

.socials__link:hover path {
    fill: #FFA55C;
}





.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0px;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__col-link::before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    bottom: 8px;
    left: -13px;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: .4s;

}


.footer__col-link:hover:before {
    visibility: visible;
    opacity: 1;
}

.footer__contact-list {}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0px;
}

.footer__col-tel {}

.footer__col-number {
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    transition: all .4s;
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #DEC5B1;
    margin-top: 47px;
}

/* ============================================================== */
/* ============================================================== */
/* =====================media==================================== */

@media (max-width: 1200px) {

    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* -------- */

    .programm__top {
        flex-direction: column;
        align-items: stretch;
        gap: 30px 15px;
        
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    
}


@media (max-width: 1100px) {
    .footer__inner {
        justify-content: space-between;
        grid-template-rows: auto auto;
        gap: 30px 15px;
        grid-template-columns: repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }

/* ------------------------- */

.accordion__list-control {
    padding: 25px 30px;
}

.accordion__list-control-title {
    font-size: 32px;
}

.accordion-content {
    gap: 30px;
}

}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 25vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;

    }

    .nav__list {
        flex-direction: column;
        align-items: center;

    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }


    .burger-icon {
        display: flex;
    }
    /* ----------- */

        .programm__action {
            max-width: none;
            grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
        }

    .programm__img {
        display: none;
    }
    

    
    


    /* -------- */

    .footer__inner {
        grid-template: none;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

}





@media (max-width: 800px) {

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 400px;

    }

    /* --------------- */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* =--------- */

    .tab-controls {
        gap: 10px;
        
    }

    .tab-controls__link {
        padding: 6px 20px;
        
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordian-content__text {
        max-width: none;
    }
}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0;
    }

    .main__programm {
        margin-bottom: 80px;
    }

    /* ------------ */
    .hero {
        padding-bottom: 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* --------- */

    .about__img-control {
        left: 0;
        bottom: 0;
        border-radius: 0;
        max-width: none;
    }


    .about__grid {
        gap: 15px;
    }

    .grid__item {
        padding: 10px 15px;

    }

    /* --------- */

    /* --------- */

    .programm__title {
        text-align: center;
    }

    .programm__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .tab-controls {
        justify-content: center;
    }

    .accordion__list-item {
        margin-bottom: 10px;
    }

    .accordion__list-control-title {
        font-size: 28px;
    }

    .accordion__list-control {
        padding: 17px 30px;
    }

    .accordion__list-control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion__list-control-icon svg {
        width: 10px;
    }

    .programm__action {
        max-width: none;
        grid-template: repeat(3, auto) /  repeat(2, auto);
        gap: 16px;
    }

    .programm__discount {
        grid-row: auto;
        grid-column: 1/-1;
        
        justify-self: center; 
    }
}

@media (max-width: 450px) {

    .modal__img {
        max-width: 50%;
        margin-top: -45px;
    }

    .modal__window {
        padding: 0px 15px 45px;
    }

    .modal__title {
        font-size: 35px;
    }

    /* --------- */
    
    .accordion__list-control {
        padding: 17px 15px;
    }
    .accordion-content {
        padding: 0 15px 30px;
    }
    .accordion-conten__item {
        margin-bottom: 10px;
        
    }

    .programm__action {
        grid-template: none;
       
    }

    .programm__price {
        text-align: center;
    }

    
}
